Repository vmck/acs-interface, pull requests merged in 2020-07, with the labels that each got.

#232 Userpage
  interface/templates/interface/generics/navbar.html
  interface/templates/interface/homepage.html
  interface/templates/interface/user_page.html
  interface/urls.py
  interface/views.py
  testsuite/test_student_workflow.py
  testsuite/test_views.py
Labels: enhancement, student

#220 Mock config file
  testsuite/artifact.zip
  testsuite/checker.sh
  testsuite/config.ini
  testsuite/test_student_workflow.py
  testsuite/test_submission_actions.py
Labels: test

#235 Update Pipfile.lock
  Pipfile.lock
Labels: dependencies
